@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,800;1,600;1,700;1,800;1,900&family=Outfit:wght@400;700&family=Poppins:wght@400;500;700;800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.body{
    font-family: 'Hanken Grotesk';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;}
.info{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%)); 
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 30px;
    padding: 30px 20px;

}
.great{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    width: 200px;
}
.circle {
    width: 100px; 
    height: 100px;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)); 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.box-2{
    /* width: 200px; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    gap: 18px;
    padding: 30px 20px;
    box-shadow: 8px 8px 20px rgba(156, 185, 196, 0.26);
}
.cardlist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
.card{
    display: flex;
    padding: 8px;
    background-color: lightskyblue;
    width: 200px;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    border-radius: 4px;
}
.title{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%)); 
    width: 200px;
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}